<div class="container">
  <div class="top-bar">
    <button type="button" class="btn btn-primary" (click)="openDialog(null)">Add new</button>
  </div>
  <div *ngIf="notes" class="d-flex">
    <div *ngFor="let note of notes" class="card m-3" style="width: 18rem;">
      <div class="card-container">
        <div class="d-flex mb-3">
          <button type="button" class="btn btn-light" (click)="openDialog(note)">Edit</button>
          <button type="button" class="btn btn-light" (click)="onRemove(note.id)">Remove</button>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{note.name}}</h5>
          <p class="card-text">{{note.data}}</p>
          <button type="button" class="btn btn-primary" (click)="onOpen(note.id)">Open</button>
        </div>
      </div>

    </div>
  </div>
</div>



<router-outlet></router-outlet>
