<div *ngIf="productsView"> 
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productsView.products">
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{getCategoryById(product.categoryId)}}</td>
      </tr>
    </tbody>
  </table>
</div>


<div *ngIf="dropDowmForm">
  <form [formGroup]="dropDowmForm"> 
    <select formControlName="categories" (change)="getProducts()">
      <option *ngFor="let category of dropDownView.categories" [ngValue]="category">
        {{category.name}}
      </option>
    </select>
  </form>
</div>

<button type="button" class="btn btn-primary" (click)="openCloseForm()">Add</button>

<form *ngIf="newItem" [formGroup]="addProductForm">
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" formControlName="name">
  </div>
  <button class="btn btn-primary" (click)="addProduct()">Submit</button>
</form>

<router-outlet></router-outlet>
